<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:tiles="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
	<title>PAO | Select Animal for Care</title>

 	<!-- header that links to foundation css -->
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/foundation/css/foundation.css" />
    <script src="../static/foundation/js/vendor/modernizr.js"></script>
	<!-- end of header that links to foundation css -->

</head>
<body>

	<header>
		<nav sec:authorize="hasRole('AUTHENTICATED_USER_AUTHORITY')">
			<a href="../homepage" class="small button">Home</a>
			<a sec:authorize="hasAnyRole('customer','employee','veterinarian')" href="submit" class="small button">Submit pet for adoption</a>
			<a sec:authorize="hasAnyRole('employee')" href="view-intake-submissions" class="small button">View Intake Submissions</a>
			<a sec:authorize="hasAnyRole('employee','veterinarian')" href="animal-list" class="small button">Animal Care Record</a>
		</nav>
	</header>

<form>
			<h1>Animal list</h1>
  			<h2>Select animal to log a care record</h2>
		    <table>
		      <tr>
		        <th>Animal ID</th>
				<th>Kennel ID</th>
				<th>Animal Type</th>
				<th>Name</th>
				<th>Notes</th>
		      </tr>
		      <tr th:each="sub : ${animals}">
		        <td th:text="${sub.id}"></td>
		        <td th:text="${sub.facility_id}"></td>
				<td th:text="${sub.animal_type}"></td>
		        <td th:text="${sub.name}"></td>
		        <td th:text="${sub.notes}"></td>
		        <td><a th:href="@{/animal-care/{id}(id=*{sub.id})}">Animal Care</a></td>
		      </tr>
		    </table>

</form>


</body>
</html>