<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
	<title>PAO | Home</title>

 	<!-- header that links to foundation css -->
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/foundation/css/foundation.css" />
    <script src="../static/foundation/js/vendor/modernizr.js"></script>
	<!-- end of header that links to foundation css -->

</head>
<body>

	<div>
  		<nav>
			<a sec:authorize="hasAnyRole('customer','employee','veterinarian')" href="submit" class="small button">Submit pet for adoption</a>
			<a sec:authorize="hasAnyRole('employee')" href="view-intake-submissions" id="view-intake-submissions" class="small button">View Intake Submissions</a>
			<a sec:authorize="hasAnyRole('employee','veterinarian')" href="animal-list" class="small button">Animal Care Record</a>
		</nav>
	</div>
	
	<h1>Welcome to Pet Adoption Online</h1>
	<p>Click on a menu item above to get started</p>

</body>
</html>