<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>PAO | Submission Successful</title>

 	<!-- header that links to foundation css -->
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/foundation/css/foundation.css" />
    <script src="../static/foundation/js/vendor/modernizr.js"></script>
	<!-- end of header that links to foundation css -->

</head>


<body>

<h2>Your submission was successful.</h2>

<a href="/">Return to Main Menu</a>

</body>
</html>